.label {
    color: #777;
    display: block;
    margin: 5px 0;
    text-transform: capitalize;
}

.btn {
    margin-top: 10px;
}

small {
    color: darkred;
    display: block;
    margin: 5px 0;
    visibility: hidden;
}

.error {
    visibility: visible;
}

.disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
